<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老婆要用的工具</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">白开始爬虫展示台</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/spider/huxiu">虎嗅热文</a>
                        </li>
                        <li>
                            <a href="/spider/zhihu">知乎日报</a>
                        </li>
                        <li>
                            <a href="/spider/ithome">IT之家</a>
                        </li>
                        <li>
                            <a href="/bili/query">B站爬虫工具</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">小工具<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" name="searchKey"/>
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1>
                    老婆要用的工具
                </h1>
                <p>
                    这是我老婆工作要用的一些鄙人开发的小工具，凑合着用，别客气！
                </p>
            </div>
            <!--提交表格-->
            <form role="form" method="Post">
                <div class="form-group">
                    <label>Up主姓名</label>
                    <input type="text" class="form-control" name="upName"/>
                </div>
                {{/*<div class="form-group">*/}}
                    {{/*<label>Excel文件</label>*/}}
                    {{/*<input type="file" name="upIdsFile"/>*/}}
                    {{/*<p class="help-block">*/}}
                        {{/*上传指定格式的Excel文件*/}}
                    {{/*</p>*/}}
                {{/*</div>*/}}
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
        <div class="col-md-12 column">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Up主</th>
                    <th>ID</th>
                    <th>粉丝数</th>
                    <th>签名</th>
                </tr>
                </thead>
                <tbody>
                {{range .Users}}
                <tr>
                    <td>{{.Uname}}</td>
                    <td>{{.Mid}}</td>
                    <td>{{.Fans}}</td>
                    <td>{{.Usign}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
